/* styles/animations.css */
@keyframes upDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animation-up-downU {
  animation: upDown 3s ease-in-out infinite;
}
.animation-up-downB {
  animation: upDown 4s ease-in-out infinite;
}
.text-outline {
  text-shadow: 2px 2px 0px white,2px 2px 2px rgba(0, 0, 0, 1), -2px -2px 0px rgba(0, 0, 0, 1), 2px -2px 0px rgba(0, 0, 0, 1), -2px 2px 0px rgba(0, 0, 0, 1), -2px 2px 2px rgba(0, 0, 0, 1), -2px -2px 0px rgba(0, 0, 0, 1);
}